/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    font-size: 0.9rem;
  }
}

body,
html,
#root {
  margin: 0;
  padding: 0;
}
